/* GLOBAL STYLES */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #fff;
  color: #222;
}

img{
  max-width: 100%;
  height: auto;
}

/*CONTAINER */
.container{
  width: 100%;
  max-width: 635px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN CONTENT */
.main-content{
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cv-sidebar {
  width: 100%;
  max-width: 200px;
  padding: 0;
  margin: 0;
}
.cv-contact-list {
  display: block;
}
.cv-contact-item {
}

.cv-contact-item:first-child{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 18px;
font-weight: bold;
}

.cv-contact-item:not(:first-child){
list-style: none;
}
.cv-adress::before{
background-image: url(../icon/address.svg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
content: "";
}

.cv-skills-list {
}
.cv-skills-item {
}
.cv-skills-link {
}
.cv-language-list {
}
.cv-language-item {
}
.about {
}
.persons-img-content {
}
.persons-img {
}
.person-name {
}
.person-current-degree {
}
.persons-interest {
}
.work-history {
}
.work-history-list {
}
.work-history-content {
}
.work-history-year {
}
.work-history-internship {
}
.internship-header {
}
.internship-current-department {
}
.internship-projects-list {
}
.internship-projects-item {
}
.education-box {
}
.education {
}
.education-list {
}
.education-content {
}
.education-year {
}
.education-status {
}
.education-bachalor {
}
.education-bachalor-university {
}
.labaratory {
}
.labaratory-list {
}